/*.bin
/*.pyc
/.DS_Store
/Makefile.in
/aclocal.m4
/Makefile
/autom4te.cache
/.deps
/modes
/config.status
/out
/INSTALL
/install-sh
/config.log
/missing
/configure
/*.mode
/*.xml
/*.txt
/*.aqx
/*.pickle
