*.bin
*.cache
*.in
*.log
*.mode
*.status
/*.hfst*
*.ol
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
config
configure
install-sh
langs.cfg
missing
modes
stamp-h1
paper/auto/
paper/cslipubscollection.tar.gz
paper/sme-nob.pdf
paper/talk/smenob_talk.aux
paper/talk/smenob_talk.log
paper/talk/smenob_talk.nav
paper/talk/smenob_talk.out
paper/talk/smenob_talk.pdf
paper/talk/smenob_talk.snm
paper/talk/smenob_talk.toc
paper/architecture.eps
paper/architecture.pdf
ap_include.am
t/Pending_tests.html
t/Regression_tests.html
nob-sme.prob
t/.cache
dev/blase-coverage/free_facta.amb
dev/blase-coverage/free_facta.amb.exclude
dev/blase-coverage/free_facta.amb.have
dev/blase-coverage/free_facta.amb.want
dev/blase-coverage/free_facta.diff
dev/blase-coverage/free_facta.hitparade
dev/blase-coverage/free_facta.trimmed
dev/blase-coverage/free_facta.txt
dev/blase-coverage/free_facta.untrimmed
dev/blase-coverage/select-sem.cg3b
dev/blase-coverage/tmx.amb
dev/blase-coverage/tmx.amb.exclude
dev/blase-coverage/tmx.amb.have
dev/blase-coverage/tmx.amb.want
dev/blase-coverage/tmx.diff
dev/blase-coverage/tmx.hitparade
dev/blase-coverage/tmx.trimmed
dev/blase-coverage/tmx.txt
dev/blase-coverage/tmx.untrimmed
dev/blase-coverage/translations-test.amb
dev/blase-coverage/translations-test.amb.exclude
dev/blase-coverage/translations-test.amb.have
dev/blase-coverage/translations-test.amb.want
dev/blase-coverage/translations-test.diff
dev/blase-coverage/translations-test.hitparade
dev/blase-coverage/translations-test.trimmed
dev/blase-coverage/translations-test.txt
dev/blase-coverage/translations-test.untrimmed
dev/lists_from_corpus/HASART
dev/lists_from_corpus/NOTART
dev/lists_from_corpus/joined
dev/lists_from_corpus/likelydetind
dev/lists_from_corpus/maydetind
dev/lists_from_corpus/neverdetind
dev/lists_from_corpus/prev/
dev/lists_from_corpus/results
dev/lists_from_corpus/run
__pycache__/
.projectile
