''Глагол''/''Verb''<br/>
[http://ilazki.thinkgeek.co.uk/~spectre/txuvaix/cv-tr/index.php?q=Name Турккӑлла куҫарни/Turkish translation]<br/>
[http://samah.chv.su/cgi-bin/s.cgi?a=s&word=Name Вырӑсла куҫарни/Russian translation]

{|class=wikitable
|-
!colspan=17|'''Хальхи вӑхӑт / Present'''
|-
!  Сӑпат !! colspan=4| !! colspan=4|Causative  !!  colspan=4|Желательное наклонение !! colspan=4|Causative/Желательное наклонение
|-
!  !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ !!  colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ !!  colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ !!  colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><pres><p1><sg><br/><v><pres><p1><sg> || <v><pres><p1><pl><br/><v><pres><p1><pl> || <v><neg><pres><p1><sg><br/><v><neg><pres><p1><sg> || <v><neg><pres><p1><pl><br/><v><neg><pres><p1><pl> || <v><caus><pres><p1><sg><br/><v><caus><pres><p1><sg> || <v><caus><pres><p1><pl><br/><v><caus><pres><p1><pl> || <v><caus><neg><pres><p1><sg><br/><v><caus><neg><pres><p1><sg> || <v><caus><neg><pres><p1><pl><br/><v><caus><neg><pres><p1><pl> || <v><abil><pres><p1><sg><br/><v><abil><pres><p1><sg> || <v><abil><pres><p1><pl><br/><v><abil><pres><p1><pl> || <v><abil><neg><pres><p1><sg><br/><v><abil><neg><pres><p1><sg> || <v><abil><neg><pres><p1><pl><br/><v><abil><neg><pres><p1><pl> || <v><caus><abil><pres><p1><sg><br/><v><caus><abil><pres><p1><sg> || <v><caus><abil><pres><p1><pl><br/><v><caus><abil><pres><p1><pl> || <v><caus><abil><neg><pres><p1><sg><br/><v><caus><abil><neg><pres><p1><sg> || <v><caus><abil><neg><pres><p1><pl><br/><v><caus><abil><neg><pres><p1><pl> 
|-
| 2-мӗш || <v><pres><p2><sg><br/><v><pres><p2><sg> || <v><pres><p2><pl><br/><v><pres><p2><pl> || <v><neg><pres><p2><sg><br/><v><neg><pres><p2><sg> || <v><neg><pres><p2><pl><br/><v><neg><pres><p2><pl> || <v><caus><pres><p2><sg><br/><v><caus><pres><p2><sg> || <v><caus><pres><p2><pl><br/><v><caus><pres><p2><pl> || <v><caus><neg><pres><p2><sg><br/><v><caus><neg><pres><p2><sg> || <v><caus><neg><pres><p2><pl><br/><v><caus><neg><pres><p2><pl> || <v><abil><pres><p2><sg><br/><v><abil><pres><p2><sg> || <v><abil><pres><p2><pl><br/><v><abil><pres><p2><pl> || <v><abil><neg><pres><p2><sg><br/><v><abil><neg><pres><p2><sg> || <v><abil><neg><pres><p2><pl><br/><v><abil><neg><pres><p2><pl> || <v><caus><abil><pres><p2><sg><br/><v><caus><abil><pres><p2><sg> || <v><caus><abil><pres><p2><pl><br/><v><caus><abil><pres><p2><pl> || <v><caus><abil><neg><pres><p2><sg><br/><v><caus><abil><neg><pres><p2><sg> || <v><caus><abil><neg><pres><p2><pl><br/><v><caus><abil><neg><pres><p2><pl> 
|-
| 3-мӗш || <v><pres><p3><sg><br/><v><pres><p3><sg> || <v><pres><p3><pl><br/><v><pres><p3><pl> || <v><neg><pres><p3><sg><br/><v><neg><pres><p3><sg> || <v><neg><pres><p3><pl><br/><v><neg><pres><p3><pl> || <v><caus><pres><p3><sg><br/><v><caus><pres><p3><sg> || <v><caus><pres><p3><pl><br/><v><caus><pres><p3><pl> || <v><caus><neg><pres><p3><sg><br/><v><caus><neg><pres><p3><sg> || <v><caus><neg><pres><p3><pl><br/><v><caus><neg><pres><p3><pl> || <v><abil><pres><p3><sg><br/><v><abil><pres><p3><sg> || <v><abil><pres><p3><pl><br/><v><abil><pres><p3><pl> || <v><abil><neg><pres><p3><sg><br/><v><abil><neg><pres><p3><sg> || <v><abil><neg><pres><p3><pl><br/><v><abil><neg><pres><p3><pl> || <v><caus><abil><pres><p3><sg><br/><v><caus><abil><pres><p3><sg> || <v><caus><abil><pres><p3><pl><br/><v><caus><abil><pres><p3><pl> || <v><caus><abil><neg><pres><p3><sg><br/><v><caus><abil><neg><pres><p3><sg> || <v><caus><abil><neg><pres><p3><pl><br/><v><caus><abil><neg><pres><p3><pl> 
|-
!colspan=5|'''Иртнӗ вӑхӑт / Past '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><evid><p1><sg><br/><v><evid><p1><sg> || <v><evid><p1><pl><br/><v><evid><p1><pl> || <v><neg><evid><p1><sg><br/><v><neg><evid><p1><sg> || <v><neg><evid><p1><pl><br/><v><neg><evid><p1><pl>
|-
| 2-мӗш || <v><evid><p2><sg><br/><v><evid><p2><sg> || <v><evid><p2><pl><br/><v><evid><p2><pl> || <v><neg><evid><p2><sg><br/><v><neg><evid><p2><sg> || <v><neg><evid><p2><pl><br/><v><neg><evid><p2><pl>
|-
| 3-мӗш || <v><evid><p3><sg><br/><v><evid><p3><sg> || <v><evid><p3><pl><br/><v><evid><p3><pl> || <v><neg><evid><p3><sg><br/><v><neg><evid><p3><sg> || <v><neg><evid><p3><pl><br/><v><neg><evid><p3><pl>
|-
!colspan=5|'''Малтан иртнӗ вӑхӑт / Pluperfect '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><pmp><p1><sg><br/><v><pmp><p1><sg> || <v><pmp><p1><pl><br/><v><pmp><p1><pl> || <v><neg><pmp><p1><sg><br/><v><neg><pmp><p1><sg> || <v><neg><pmp><p1><pl><br/><v><neg><pmp><p1><pl>
|-
| 2-мӗш || <v><pmp><p2><sg><br/><v><pmp><p2><sg> || <v><pmp><p2><pl><br/><v><pmp><p2><pl> || <v><neg><pmp><p2><sg><br/><v><neg><pmp><p2><sg> || <v><neg><pmp><p2><pl><br/><v><neg><pmp><p2><pl>
|-
| 3-мӗш || <v><pmp><p3><sg><br/><v><pmp><p3><sg> || <v><pmp><p3><pl><br/><v><pmp><p3><pl> || <v><neg><pmp><p3><sg><br/><v><neg><pmp><p3><sg> || <v><neg><pmp><p3><pl><br/><v><neg><pmp><p3><pl>
|-
!colspan=5|'''Темиҫе иртнӗ вӑхӑт / Durative past '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><pih><p1><sg><br/><v><pih><p1><sg> || <v><pih><p1><pl><br/><v><pih><p1><pl> || <v><neg><pih><p1><sg><br/><v><neg><pih><p1><sg> || <v><neg><pih><p1><pl><br/><v><neg><pih><p1><pl>
|-
| 2-мӗш || <v><pih><p2><sg><br/><v><pih><p2><sg> || <v><pih><p2><pl><br/><v><pih><p2><pl> || <v><neg><pih><p2><sg><br/><v><neg><pih><p2><sg> || <v><neg><pih><p2><pl><br/><v><neg><pih><p2><pl>
|-
| 3-мӗш || <v><pih><p3><sg><br/><v><pih><p3><sg> || <v><pih><p3><pl><br/><v><pih><p3><pl> || <v><neg><pih><p3><sg><br/><v><neg><pih><p3><sg> || <v><neg><pih><p3><pl><br/><v><neg><pih><p3><pl>
|-
!colspan=5|'''Пулас вӑхӑт / Future '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><fut><p1><sg><br/><v><fut><p1><sg> || <v><fut><p1><pl><br/><v><fut><p1><pl> || <v><neg><fut><p1><sg><br/><v><neg><fut><p1><sg> || <v><neg><fut><p1><pl><br/><v><neg><fut><p1><pl>
|-
| 2-мӗш || <v><fut><p2><sg><br/><v><fut><p2><sg> || <v><fut><p2><pl><br/><v><fut><p2><pl> || <v><neg><fut><p2><sg><br/><v><neg><fut><p2><sg> || <v><neg><fut><p2><pl><br/><v><neg><fut><p2><pl>
|-
| 3-мӗш || <v><fut><p3><sg><br/><v><fut><p3><sg> || <v><fut><p3><pl><br/><v><fut><p3><pl> || <v><neg><fut><p3><sg><br/><v><neg><fut><p3><sg> || <v><neg><fut><p3><pl><br/><v><neg><fut><p3><pl>
|-
!colspan=5|'''Ӗмӗт вӑхӑт / Conditional '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
	|-
| 1-мӗш || <v><cond><p1><sg><br/><v><cond><p1><sg> || <v><cond><p1><pl><br/><v><cond><p1><pl> || <v><neg><cond><p1><sg><br/><v><neg><cond><p1><sg> || <v><neg><cond><p1><pl><br/><v><neg><cond><p1><pl>
|-
| 2-мӗш || <v><cond><p2><sg><br/><v><cond><p2><sg> || <v><cond><p2><pl><br/><v><cond><p2><pl> || <v><neg><cond><p2><sg><br/><v><neg><cond><p2><sg> || <v><neg><cond><p2><pl><br/><v><neg><cond><p2><pl>
|-
| 3-мӗш || <v><cond><p3><sg><br/><v><cond><p3><sg> || <v><cond><p3><pl><br/><v><cond><p3><pl> || <v><neg><cond><p3><sg><br/><v><neg><cond><p3><sg> || <v><neg><cond><p3><pl><br/><v><neg><cond><p3><pl>
|-
!colspan=5|'''Килӗшӳ наклоненийӗ / Optative '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><opt><p1><sg><br/><v><opt><p1><sg> || <v><opt><p1><pl><br/><v><opt><p1><pl> || <v><neg><opt><p1><sg><br/><v><neg><opt><p1><sg> || <v><neg><opt><p1><pl><br/><v><neg><opt><p1><pl>
|-
| 2-мӗш || <v><opt><p2><sg><br/><v><opt><p2><sg> || <v><opt><p2><pl><br/><v><opt><p2><pl> || <v><neg><opt><p2><sg><br/><v><neg><opt><p2><sg> || <v><neg><opt><p2><pl><br/><v><neg><opt><p2><pl>
|-
| 3-мӗш || <v><opt><p3><sg><br/><v><opt><p3><sg> || <v><opt><p3><pl><br/><v><opt><p3><pl> || <v><neg><opt><p3><sg><br/><v><neg><opt><p3><sg> || <v><neg><opt><p3><pl><br/><v><neg><opt><p3><pl>
|-
!colspan=5|'''Хушу наклоненийӗ / Imperative '''
|-
!  Сӑпат !! colspan=2|Ҫирӗплетӳ аспекчӗ  !!  colspan=2|Хирӗҫлев аспекчӗ
|-
!  !! Пӗрреллӗ хисел !!  Нумайлӑ хисел !! Пӗрреллӗ хисел !!  Нумайлӑ хисел
|-
| 1-мӗш || <v><imp><p1><sg><br/><v><imp><p1><sg> || <v><imp><p1><pl><br/><v><imp><p1><pl> || <v><imp><p1><sg> мар || <v><imp><p1><pl> мар
|-
| 2-мӗш || <v><imp><p2><sg><br/><v><imp><p2><sg> || <v><imp><p2><pl><br/><v><imp><p2><pl> || ан <v><imp><p2><sg> || ан <v><imp><p2><pl>
|-
| 3-мӗш || <v><imp><p3><sg><br/><v><imp><p3><sg> || <v><imp><p3><pl><br/><v><imp><p3><pl> || ан <v><imp><p3><sg> || ан <v><imp><p3><pl>
|-
|}

{|class=wikitable
|-
! Инфинитив/Причастие/Деепричастие !! Хирӗҫлев аспекчӗ  !! Сӑпат !! cop !! Усиление !! Нумайлӑ хисел !! Ҫуклӑх падежӗ !! Туху+пӗрлелӗх падежӗсем !! Палӑрту аффиксӗ -и !! Палӑрту аффиксӗ -скер !! Палӑрту аффиксӗ -хи
|-
| <v><ger1> || <v><neg><ger1> || <v><ger1><cop> || <v><ger1><str> || <v><ger1><pl> || <v><ger1><px3sp> || <v><ger1><ben> || <v><ger1><abl_ins> || <v><ger1><subst_и> || <v><ger1><subst_скер> || <v><ger1><subst_хи>
|-
| <v><ger2> || <v><neg><ger2> || <v><ger2><cop> || <v><ger2><str> || <v><ger2><pl> || <v><ger2><px3sp> || <v><ger2><ben> || <v><ger2><abl_ins> || <v><ger2><subst_и> || <v><ger2><subst_скер> || <v><ger2><subst_хи>
|-
| <v><ger3> || <v><neg><ger3> || <v><ger3><cop> || <v><ger3><str> || <v><ger3><pl> || <v><ger3><px3sp> || <v><ger3><ben> || <v><ger3><abl_ins> || <v><ger3><subst_и> || <v><ger3><subst_скер> || <v><ger3><subst_хи>
|-
| <v><ger5> || <v><neg><ger5> || <v><ger5><cop> || <v><ger5><str> || <v><ger5><pl> || <v><ger5><px3sp> || <v><ger5><ben> || <v><ger5><abl_ins> || <v><ger5><subst_и> || <v><ger5><subst_скер> || <v><ger5><subst_хи>
|-
| <v><ger6> || <v><neg><ger6> || <v><ger6><cop> || <v><ger6><str> || <v><ger6><pl> || <v><ger6><px3sp> || <v><ger6><ben> || <v><ger6><abl_ins> || <v><ger6><subst_и> || <v><ger6><subst_скер> || <v><ger6><subst_хи>
|-
| <v><ger8> || <v><neg><ger8> || <v><ger8><cop> || <v><ger8><str> || <v><ger8><pl> || <v><ger8><px3sp> || <v><ger8><ben> || <v><ger8><abl_ins> || <v><ger8><subst_и> || <v><ger8><subst_скер> || <v><ger8><subst_хи>
|-
| <v><ger9> || <v><neg><ger9> || <v><ger9><cop> || <v><ger9><str> || <v><ger9><pl> || <v><ger9><px3sp> || <v><ger9><ben> || <v><ger9><abl_ins> || <v><ger9><subst_и> || <v><ger9><subst_скер> || <v><ger9><subst_хи>
|-
| <v><gna8> || <v><neg><gna8> || <v><gna8><cop> || <v><gna8><str> || <v><gna8><pl> || <v><gna8><px3sp> || <v><gna8><ben> || <v><gna8><abl_ins> || <v><gna8><subst_и> || <v><gna8><subst_скер> || <v><gna8><subst_хи>
|-
| <v><gna9> || <v><neg><gna9> || <v><gna9><cop> || <v><gna9><str> || <v><gna9><pl> || <v><gna9><px3sp> || <v><gna9><ben> || <v><gna9><abl_ins> || <v><gna9><subst_и> || <v><gna9><subst_скер> || <v><gna9><subst_хи>
|-
| <v><ger11> || <v><neg><ger11> || <v><ger11><cop> || <v><ger11><str> || <v><ger11><pl> || <v><ger11><px3sp> || <v><ger11><ben> || <v><ger11><abl_ins> || <v><ger11><subst_и> || <v><ger11><subst_скер> || <v><ger11><subst_хи>
|-
| <v><ger12> || <v><neg><ger12> || <v><ger12><cop> || <v><ger12><str> || <v><ger12><pl> || <v><ger12><px3sp> || <v><ger12><ben> || <v><ger12><abl_ins> || <v><ger12><subst_и> || <v><ger12><subst_скер> || <v><ger12><subst_хи>
|-
| <v><ger14> || <v><neg><ger14> || <v><ger14><cop> || <v><ger14><str> || <v><ger14><pl> || <v><ger14><px3sp> || <v><ger14><ben> || <v><ger14><abl_ins> || <v><ger14><subst_и> || <v><ger14><subst_скер> || <v><ger14><subst_хи>
|-
| <v><ger15> || <v><neg><ger15> || <v><ger15><cop> || <v><ger15><str> || <v><ger15><pl> || <v><ger15><px3sp> || <v><ger15><ben> || <v><ger15><abl_ins> || <v><ger15><subst_и> || <v><ger15><subst_скер> || <v><ger15><subst_хи>
|-
| <v><ger16> || <v><neg><ger16> || <v><ger16><cop> || <v><ger16><str> || <v><ger16><pl> || <v><ger16><px3sp> || <v><ger16><ben> || <v><ger16><abl_ins> || <v><ger16><subst_и> || <v><ger16><subst_скер> || <v><ger16><subst_хи>
|-
| <v><ger17> || <v><neg><ger17> || <v><ger17><cop> || <v><ger17><str> || <v><ger17><pl> || <v><ger17><px3sp> || <v><ger17><ben> || <v><ger17><abl_ins> || <v><ger17><subst_и> || <v><ger17><subst_скер> || <v><ger17><subst_хи>
|-
| <v><partpl1> || <v><neg><partpl1> || <v><partpl1><cop> || <v><partpl1><str> || <v><partpl1><pl> || <v><partpl1><px3sp> || <v><partpl1><ben> || <v><partpl1><abl_ins> || <v><partpl1><subst_и> || <v><partpl1><subst_скер> || <v><partpl1><subst_хи>
|-
| <v><partpl3> || <v><neg><partpl3> || <v><partpl3><cop> || <v><partpl3><str> || <v><partpl3><pl> || <v><partpl3><px3sp> || <v><partpl3><ben> || <v><partpl3><abl_ins> || <v><partpl3><subst_и> || <v><partpl3><subst_скер> || <v><partpl3><subst_хи>
|-
| <v><partpl4> || <v><neg><partpl4> || <v><partpl4><cop> || <v><partpl4><str> || <v><partpl4><pl> || <v><partpl4><px3sp> || <v><partpl4><ben> || <v><partpl4><abl_ins> || <v><partpl4><subst_и> || <v><partpl4><subst_скер> || <v><partpl4><subst_хи>
|-
|}

<small>
Aquest és un material de treball subjecte a revisió que pot contenir errors.<br/>
This page is a work in progress, may contain errors and is subject to revision at any time. 
</small>

[[Category:Глаголсем]]
