''Япала ячӗ''/''Noun''<br/>
[http://ilazki.thinkgeek.co.uk/~spectre/txuvaix/cv-tr/index.php?q=Name Турккӑлла куҫарни/Turkish translation]<br/>
[http://samah.chv.su/cgi-bin/s.cgi?a=s&word=Name Вырӑсла куҫарни/Russian translation]

{|class=wikitable
|-
!colspan=9|'''Пӗрреллӗ хисеп / Singular'''
|-
!  Сӑпат<br/>Person  !!  Тӗп<br/>Absolutive<br/>''Кам/Мӗн?''  !!  Камӑнлӑх<br/>Genitive<br/>''Камӑн/Мӗнӗн?''  !!  Пару<br/>Dative<br/>''Кама/Мӗне?''  !!  Вырӑн<br/>Locative<br/>''Камра/Мӗнре?''  !!  Туху<br/>Ablative<br/>''Камран/Мӗнрен?''  !!  Пӗрлелӗх<br/>Instrumental<br/>''Кампа/Мӗнпе?''  !!  Ҫуклӑх<br/>Abesive<br/>''Камсӑр/Мӗнсӗр?''  !!  Пирке<br/>Benefactive<br/>''Камшӑн/Мӗншӗн?''
|-
| - || <n><nom><br/><n><nom> || <n><gen><br/><n><gen> || <n><dat><br/><n><dat> || <n><loc><br/><n><loc> || <n><abl><br/><n><abl> || <n><ins><br/><n><ins> || <n><abe><br/><n><abe> || <n><ben><br/><n><ben>
|-
| 1c.1х./1sg.<br/>''Мaнӑн'' || <n><px1sg><nom><br/><n><px1sg><nom> || <n><px1sg><gen><br/><n><px1sg><gen> || <n><px1sg><dat><br/><n><px1sg><dat> || <n><px1sg><loc><br/><n><px1sg><loc> || <n><px1sg><abl><br/><n><px1sg><abl> || <n><px1sg><ins><br/><n><px1sg><ins> || <n><px1sg><abe><br/><n><px1sg><abe> || <n><px1sg><ben><br/><n><px1sg><ben> 
|-
| 2c.1х./2sg.<br/>''Санӑн'' || <n><px2sg><nom><br/><n><px2sg><nom> || <n><px2sg><gen><br/><n><px2sg><gen> || <n><px2sg><dat><br/><n><px2sg><dat> || <n><px2sg><loc><br/><n><px2sg><loc> || <n><px2sg><abl><br/><n><px2sg><abl> || <n><px2sg><ins><br/><n><px2sg><ins> || <n><px2sg><abe><br/><n><px2sg><abe> || <n><px2sg><ben><br/><n><px2sg><ben> 
|-
| 3<br/>''Унӑн/Вӗсен'' || <n><px3sp><nom><br/><n><px3sp><nom> || <n><px3sp><gen><br/><n><px3sp><gen> || <n><px3sp><dat><br/><n><px3sp><dat> || <n><px3sp><loc><br/><n><px3sp><loc> || <n><px3sp><abl><br/><n><px3sp><abl> || <n><px3sp><ins><br/><n><px3sp><ins> || <n><px3sp><abe><br/><n><px3sp><abe> || <n><px3sp><ben><br/><n><px3sp><ben> 
|-
| 1c.нум.х./1pl.<br/>''Пирӗн'' || <n><px1pl><nom><br/><n><px1pl><nom> || <n><px1pl><gen><br/><n><px1pl><gen> || <n><px1pl><dat><br/><n><px1pl><dat> || <n><px1pl><loc><br/><n><px1pl><loc> || <n><px1pl><abl><br/><n><px1pl><abl> || <n><px1pl><ins><br/><n><px1pl><ins> || <n><px1pl><abe><br/><n><px1pl><abe> || <n><px1pl><ben><br/><n><px1pl><ben> 
|-
| 2c.нум.х./2pl.<br/>''Сирӗн'' || <n><px2pl><nom><br/><n><px2pl><nom> || <n><px2pl><gen><br/><n><px2pl><gen> || <n><px2pl><dat><br/><n><px2pl><dat> || <n><px2pl><loc><br/><n><px2pl><loc> || <n><px2pl><abl><br/><n><px2pl><abl> || <n><px2pl><ins><br/><n><px2pl><ins> || <n><px2pl><abe><br/><n><px2pl><abe> || <n><px2pl><ben><br/><n><px2pl><ben> 
|-
!colspan=9|'''Нумайлӑ хисеп / Plural'''
|-
!  Сӑпат<br/>Person  !!  Тӗп<br/>Absolutive<br/>''Кам/Мӗн?''  !!  Камӑнлӑх<br/>Genitive<br/>''Камӑн/Мӗнӗн?''  !!  Пару<br/>Dative<br/>''Кама/Мӗне?''  !!  Вырӑн<br/>Locative<br/>''Камра/Мӗнре?''  !!  Туху<br/>Ablative<br/>''Камран/Мӗнрен?''  !!  Пӗрлелӗх<br/>Instrumental<br/>''Кампа/Мӗнпе?''  !!  Ҫуклӑх<br/>Abesive<br/>''Камсӑр/Мӗнсӗр?''  !!  Пирке<br/>Benefactive<br/>''Камшӑр/Мӗншӗн?''
|-
| - || <n><pl><nom><br/><n><pl><nom> || <n><pl><gen><br/><n><pl><gen> || <n><pl><dat><br/><n><pl><dat> || <n><pl><loc><br/><n><pl><loc> || <n><pl><abl><br/><n><pl><abl> || <n><pl><ins><br/><n><pl><ins> || <n><pl><abe><br/><n><pl><abe> || <n><pl><ben><br/><n><pl><ben>
|-
| 1c.1х./1sg.<br/>''Мaнӑн'' || <n><px1sg><pl><nom><br/><n><px1sg><pl><nom> || <n><px1sg><pl><gen><br/><n><px1sg><pl><gen> || <n><px1sg><pl><dat><br/><n><px1sg><pl><dat> || <n><px1sg><pl><loc><br/><n><px1sg><pl><loc> || <n><px1sg><pl><abl><br/><n><px1sg><pl><abl> || <n><px1sg><pl><ins><br/><n><px1sg><pl><ins> || <n><px1sg><pl><abe><br/><n><px1sg><pl><abe> || <n><px1sg><pl><ben><br/><n><px1sg><pl><ben> 
|-
| 2c.1х./2sg.<br/>''Санӑн'' || <n><px2sg><pl><nom><br/><n><px2sg><pl><nom> || <n><px2sg><pl><gen><br/><n><px2sg><pl><gen> || <n><px2sg><pl><dat><br/><n><px2sg><pl><dat> || <n><px2sg><pl><loc><br/><n><px2sg><pl><loc> || <n><px2sg><pl><abl><br/><n><px2sg><pl><abl> || <n><px2sg><pl><ins><br/><n><px2sg><pl><ins> || <n><px2sg><pl><abe><br/><n><px2sg><pl><abe> || <n><px2sg><pl><ben><br/><n><px2sg><pl><ben> 
|-
| 3<br/>''Унӑн/Вӗсен'' || <n><px3sp><pl><nom><br/><n><px3sp><pl><nom> || <n><px3sp><pl><gen><br/><n><px3sp><pl><gen> || <n><px3sp><pl><dat><br/><n><px3sp><pl><dat> || <n><px3sp><pl><loc><br/><n><px3sp><pl><loc> || <n><px3sp><pl><abl><br/><n><px3sp><pl><abl> || <n><px3sp><pl><ins><br/><n><px3sp><pl><ins> || <n><px3sp><pl><abe><br/><n><px3sp><pl><abe> || <n><px3sp><pl><ben><br/><n><px3sp><pl><ben> 
|-
| 1c.нум.х./1pl.<br/>''Пирӗн'' || <n><px1pl><pl><nom><br/><n><px1pl><pl><nom> || <n><px1pl><pl><gen><br/><n><px1pl><pl><gen> || <n><px1pl><pl><dat><br/><n><px1pl><pl><dat> || <n><px1pl><pl><loc><br/><n><px1pl><pl><loc> || <n><px1pl><pl><abl><br/><n><px1pl><pl><abl> || <n><px1pl><pl><ins><br/><n><px1pl><pl><ins> || <n><px1pl><pl><abe><br/><n><px1pl><pl><abe> || <n><px1pl><pl><ben><br/><n><px1pl><pl><ben> 
|-
| 2c.нум.х./2pl.<br/>''Сирӗн'' || <n><px2pl><pl><nom><br/><n><px2pl><pl><nom> || <n><px2pl><pl><gen><br/><n><px2pl><pl><gen> || <n><px2pl><pl><dat><br/><n><px2pl><pl><dat> || <n><px2pl><pl><loc><br/><n><px2pl><pl><loc> || <n><px2pl><pl><abl><br/><n><px2pl><pl><abl> || <n><px2pl><pl><ins><br/><n><px2pl><pl><ins> || <n><px2pl><pl><abe><br/><n><px2pl><pl><abe> || <n><px2pl><pl><ben><br/><n><px2pl><pl><ben> 
|-
|}

{|class=wikitable
|-
!colspan=2|'''Другие формы'''
|-
| dist || <n><dist><br/><n><dist>
|-
| Reforç/Усиление || <n><str><br/><n><str>
|-
| Còpula/cop || <n><cop><br/><n><cop>
|-
|}

<small>
Aquest és un material de treball subjecte a revisió que pot contenir errors.<br/>
This page is a work in progress, may contain errors and is subject to revision at any time. 
</small>

[[Category:Сӑмахсар]]
