/*coding: utf-8
	Apertium Web Post Editing tool
	Style for general interface
	
	Contributed By Mougey Camille <commial@gmail.com> for Google Summer of Code 2011
	Mentors : Arnaud Vié, Luis Villarejo
*/

/* style from apertium.org */

body {
	padding					: 0;
	margin					: 0;
	background				: #FFFFFF;
	color					: #000000;
	font-family				: arial, verdana, sans-serif;
	/*font-size				: 90%*/
	font-size 				: 12px;
}

body a {
	color					: #cc0000;
/*	color					: #191970; */
	text-decoration				: none;
}

body a:hover {
	/*color					: #cc0000;*/
	color					: #191970;
	/*background				: #FFFFFF;*/
	text-decoration				: underline;
}

#streamer {
	width					: inherit;
	background-color 			: orange;
	text-align				: center;
	border 					: 0px;
	padding 				: 4px;
	color                                   : white;
	font-weight                             : bold;
}
	
#content {
	width					: 700px;
	margin-left				: auto;
	margin-right				: auto;
	border					: 0px solid;
	text-align 				: justify;
}

#header {
	margin					: 5px;
	padding-left				: 5px;	
	color					: #cc0000;
	background				: #FFFFFF;
}

#frame {
 	margin 					: 10px;
 	border 					: 1px solid silver;
	padding 				: 10px;	
}

#frame table {
	margin-left 				: auto;
	margin-right 				: auto;
}

#frame td {
	padding 				: 3px;
	vertical-align 				: top;
}

#traduce_button {
	font-size				: 12px;
	display 				: block;
	width 					: 100px;
	height 					: 50px;
	padding 				: 10px;
	color 					: #cc0000;
	text-decoration 			: none;
	margin 					: 15px;
	float 					: right;
}

#traduce_button:hover {
	color 					: #191970;
	}
