/*coding: utf-8
	Apertium Web Post Editing tool
	Style for text editing interface
	
	Contributed by Arnaud Vié <unas.zole@gmail.com> for Google Summer of Code 2010
	Mentors : Luis Villarejo, Mireia Farrús
*/


/* Global design */
#left
{
	float:left;
	width: 45%;
}

#right
{
	float: right;
	width: 45%;
}

.language_select
{
	text-align: center;
	
}

.run_check
{
	float: right;
}

.input_box
{
	clear: both;
	width : 100%;
}

#text_in_js_off, #text_in_js_on,
#text_out_js_off, #text_out_js_on
{
	position: relative;
	
	width: 100%;
	height : 300px;
	
	border : 1px solid black;
	margin : 3px;
	
	overflow: auto;
}

.submit_text
{
	float: right;
}

.more_options
{
	clear: both;
}

/* Error rendering */

.grammar_mistake
{
	border-bottom: dotted blue 1px;
}

.spelling_mistake
{
	border-bottom: dotted red 1px;
}

#suggestions_list
{
	background: white;
	border: solid 1px black;
	list-style-type: none;
	padding:0;
}

.suggestion_element
{
	padding: 5px;
}

.suggestion_element:hover
{
	background: #dddddd;
	font-style: italic;
}

.suggestion_element img
{
	border:0;
}

.suggestion_search_link
{
	float: right;
	margin-left: 3px;
	
	target-name: "definition";
	target-new: tab;
}

/* Other special tags rendering */

hr[data-format]
{
	display: inline;
	width: 0;
	border: 0;
	background: #dddddd;
}

hr[data-format]:before
{
	content: " ";
}

hr[data-format]:after
{
	content: " ";
}
