Makefile
Makefile.in
.*.swp
.deps
apertium-en-it.en-it-lextor.dix
apertium-en-it.en-it.t2x.orig
apertium-en-it.en-lextor.dix
apertium-en-it.it-en-lextor.dix
apertium-en-it.it-en.t1x.orig
apertium-en-it.it-en.t3x.orig
apertium-en-it.it-lextor.dix
autom4te.cache/
comp-en-it.filtered
comp-en-it.trans
comp-it-en.filtered
comp-it-en.trans
comprovacio-en-it
comprovacio-it-en
config
config.in
config.log
*expand
