* {
    font-family: 'Signika Negative', sans-serif;
}
body {
    width: 300px;
    margin-right: 0;
}
.img_container {
    margin: 0 0;
    width: 270px;
}
.catch_phrase {
    width: 270px;
    margin: 6px 0;
    color: rgb(130,130,130);
    font-size: 14px;
}
.itemSelect {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
    background-position: left, center;
    background-repeat: no-repeat;
    color: rgb(70,20,20);
    text-align: center;
    padding: 6px 6px;
    border: solid lightgray 1px;
    cursor:pointer;
    position: relative;
    font-size: 14px;
    width: 95px;
    text-align: left;
}
.itemSelect:active {
    background-image: linear-gradient(to top, #FFFFFF 0%, #EDEDED 100%);
}
.itemSelect:hover, #swapLanguages:hover{
    border-color: rgb(31,85,139);
}
/*#swapLanguages:hover {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}*/
#dropDown, #wrap {
    width:270px;
    margin: 0 0;
}
#selectFrom{
    left: 0;
    top: 28px;
}
#selectTo{
    top: -34px;
    left: 163px;
}
#swapLanguages {
    position: relative;
    top: -3px;
    left: 114px;
    width: 34px;
    padding: 6px 4px;
/*    height: 34px;*/
    background-image: url('swap.png'), linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
/*    background-size:40px 40px;*/
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(245,245,245);
    border: solid lightgray 1px;
}
#swapLanguages:active {
    background-image: url('swap.png'), linear-gradient(to top, #FFFFFF 0%, #EDEDED 100%);
}
#translationTest {
    position: relative;
    left: 0;
    top: 30px;
    width: 262px;
    padding: 4px;
    height: 100px;
    background-color: rgb(230,230,230);
    border: solid lightgray 1px;
}
#textAreaId {
    position: relative;
    left: 0;
    top: 20px;
    width: 262px;
    height: 100px;
    resize: none;
    border: solid lightgray 1px;
    font-size: 14px;
    padding: 4px;
}
#textAreaId:hover {
    box-shadow: inset 0 0 4px gray;
}
#textAreaId:focus {
    outline: rgb(31,85,139) solid thin !important;
    box-shadow: none;
    border-color: rgb(31,85,139);
}
.translate_btn {
    color: white;
    padding: 6px;
    font-size: 20px;
    background-color: rgb(64,201,39);
    width: 110px;
    border: solid rgb(94,168,96) 2px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 22px;
    /*Button position left
    left: -364px;*/
    /*Button position right*/
    left: 162px;
}
.translate_btn:hover {
    border-color: rgb(31,85,139);
    cursor: pointer;
}

/*Drop Down CSS*/
#dropDown{
    height:30px;
    background-color:#fff;
    margin:20px 0;
    color:#444;
    cursor:defaullt;
    font-family: Arial, sans-serif;
}
#dropDown a{
    color:#444;
}
#dropDown li{
    display:inline;
    text-decoration:none;
}
#dropDown em{
    font-style:normal;
}
#dropDownSub{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.218s;
    -moz-transition: opacity 0.218s;
    -o-transition: opacity 0.218s;
    transition: opacity 0.218s;
    background: white;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: default;
    font-size: 13px;
    margin: 0;
    outline: none;
    padding: 6px 0;
    position: relative;
    top: -34px;
    width: 270px;
    font-size:11px;
    text-align: left;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index:1;
}
td{
vertical-align: top;
padding: 0;
margin: 0;
}
table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
.column-group{
    float:left;

}
.column-group a{
    display:block;
    padding: 3px 3px 3px 3px;
    margin-right: 5px;
    border-style: none;
    border:1px solid #fff;
    background-color:white;

}
.column-group a:hover, .language-selected:hover{
    background-color:rgb(230,230,230) !important;
    border:1px solid rgb(31,85,139);
}
.language-selected{
    padding: 3px 3px 3px 3px;
    color:#ccc !important;
    background-color:#f1f1f1 !important;
    cursor:default;
}
#dropDown .current-language-selected-to, #dropDown .current-language-selected-from{
    background-color: rgb(230,230,230) !important;
}
.selectFromSub a{
    color:#444 !important;
    background-color: #fff !important;
}