.deps

*.bin
*.att.gz

Makefile
Makefile.in
aclocal.m4
apertium-eng.pc
ap_include.am
autom4te.cache
config.log
config.status
configure
install-sh
missing
modes
INSTALL

eng-disam.mode
eng-gener.mode
eng-morph.mode
eng-tagger.mode

eng-tagger-data
