#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

clean::
	$(RM) po/*gmo
	$(RM) config.log pidgin-apertium.spec fg_config.h libtool Makefile mkinstalldirs pre_config.h stamp-h stamp-h.in

install/pidgin-apertium::
	dh_pidgin -ppidgin-apertium

get-orig-source:
	-uscan --upstream-version 0
